@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(19, 18, 18);
    width: 100%;
    font-family: "Lexend Deca";
}

.menu-button {
    margin: 0 auto;
    margin-right: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 36px;
    border-radius: 7px;
    cursor: pointer;
    background: rgb(0, 0, 0, 0.5) ;

}

.menu-button span {
    background: white;
    width: 40px;
    height: 4px;
}

header {
    width: 100%;
    height: auto;
    width: 100%;

}

.header-img {
    width: 100%;
    margin-bottom: 10px;
}

.menu-toggle {
    display: none;
    
}

.toggle {
    display: none;
    text-align: left;
    border-radius: 7px;
    padding: 0px 50px 0px 0px;
    width: 100%;
    margin: 20px 0px;

}

.toggle li {
    font-family: "Big Shoulders Display";
    list-style: none;
    display: block;
    padding: 10px 0;
    color: #fafafa;
    margin: 50px 50px 50px 0px;
    align-content: center;
    font-size: 20px;
    text-align: center;
}


.menu-toggle:checked + .toggle {
    display: block;
    height: auto;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.5);
    height: auto;
    min-height: 60px;
    align-content: center;
}

.menu {
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    
}
.logo {
    height: 50px;
    margin-left: 10px ;
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: #fafafa;
}

.logo a {
    font-family: "Big Shoulders Display";
    color: white;
    text-decoration: none;
    font-size: 40px;
    height: 50px;
    margin: 5px;
    margin-top: 8px;
    
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.start {
    font-family: "Big Shoulders Display";
    width: 100%;
    background-image: url(./assets/default-hero.jpg);
    background-position: bottom;
}

#main-p {
    margin: 0px;
    padding: 20px;
    color: white;
    font-size: 32px;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0px;
    padding: 20px;
    color: white;
    font-size: 32px;
    text-align: center;
    width: 100%;
    font-weight: normal;
}

h2 {
    color: #fafafa;
    font-size: 28px;
    margin-top: 5%;
}

.text-component {
    text-align: center;
    background: rgba(46, 44, 44, 0.5);
    margin: 10px;
    border-radius: 5px;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: intro;
    animation-duration: 1.3s;
    position: relative;
}

.div-img {
    animation-name: intro2;
    animation-duration: 1.3s;
    position: relative;
}

.contain p {
    margin: 0px 10px 0px 10px;
    padding: 5px;
    color: white;
    /* background: rgb(0, 0, 0, 0.8); */
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.top-section {
    margin-bottom: 10px;
}

.final-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    background: rgb(0, 0, 0, 0.8);
    padding: 5px;
    height: 85px;
    max-height: 85px;
    background-image: url(./assets/default-hero.jpg);
    background-position: center;
    justify-content: center;
}

.final-section a {
    font-size: 25px;
    color: white;
    text-align: center;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


[class*="col-"] {
	width: 100%
}

/* Estilos products.html */

.main-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    
}

.product {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 10px;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: rgba(46, 44, 44, 0.5);
    border-radius: 5px;
    padding: 15%;
    margin: 10px;
    width: 100%;
    text-align: center;

}

.product-container img {
    width: 200px;
    height: 150px;
    margin: 5px;
    margin-bottom: 10%;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* border-bottom: 4px groove white; */
}

.iframe {
    margin: 5%;
}

.network {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 4px groove white;
    margin: 10px;
}

.network a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 25px;
}

.network img {
    width: 45px;
    height: 45px;
    margin: 10px;
    border-radius: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 3%;
}

form p {
    font-size: 20px;
    color: white;
    margin: 5px;
}

.form-title {
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}

#submit-form {
    border: 1px groove white;
    border-radius: 5px;
    width: 75px;
    height: 38px;
    background: url(./assets/default-hero.jpg);
    background-size: cover;
    color: white;
    font-weight: bold;
    margin-top: 3px;
}

#submit-form:hover {
    cursor: pointer;
    width: 70px;
    transition: width 0.4s;
}

/* mediaquerys */

@media only screen and (min-width: 768px) {
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}



    .start {
        display: flex;
        width: 100%;
        background-image: url(./assets/default-hero.jpg);
        background-position: bottom;
        min-height: 150px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .navbar {
        min-height: 80px;
        align-items: center;
    }

    .toggle {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 80px;
        padding: 0px;

    }

    .toggle li {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        font-size: 30px;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
    }

    .toggle li a {
        padding: 10px 15px 0px 15px;
    }

    .toggle li:hover {
        background: rgba(46, 44, 44, 0.5);
    }

    .menu-button {
        display: none;
    }

    .logo {
        margin-left: 20px;
        margin-top: 0px;
        min-height: 80px;
    }

    .logo a {
        font-size: 60px;
        align-items: center;
        
    }

    .final-section {
        width: 100%;
        background-image: url(./assets/default-hero.jpg);
        background-position: bottom;
        min-height: 100px;
    }

    #main-p {
        margin: 0px;
        padding: 20px;
        color: white;
        font-size: 40px;
        text-align: center;
        width: 100%;
    }

    .contain {
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }

    .contain a {
        font-size: 32px;
    }

    h1 {
        font-size: 40px;
        font-weight: normal;
    }

    h2 {
        font-size: 26px;
    }

    .component {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 360px;
        animation-name: intro;
        animation-duration: 1.3s;
        position: relative;
    }

    .text-component {
        margin: 20px;
        border-radius: 10px;
    }

    .div-img {
        padding: 20px;
        animation-name: intro2;
        animation-duration: 1.3s;
        position: relative;
    }

    .header-img {
        width: 100%;
        border-radius: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 678px;
    }

    .main-products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .product-container img {
        width: 70.6%;
        height: 70.6%;
        margin: 5px;
        margin-bottom: 5%;
    }

    .product {
        padding: 10px;
    }

    .product-container {
        padding: 0%;
    }

    .product-container a {
        width: 100%;
        height: 100%;
        padding: 15%;
    }

    .product-container:hover {
        cursor: pointer;
        width: 95%;
        transition: width 0.5s;
    }

    .underline {
        border-bottom: 4px groove white;
    }

    .network img {
        width: 60px;
        height: 60px;
    }  

    .network img:hover {
        width: 55px;
        height: 55px;
        transition: width 0.5s, height 0.5s;

    }

    .main-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .social {

        height: 80%;
    }

    .contact-form {
        padding: 0px 10px 0px 10px;
    }

    .iframe {
        margin: 0px;
    }


}

/* Animaciones/Transiciones */

@keyframes intro {
    0% {left: -2000px;}
    100% {left: 0px;}
}
@keyframes intro2 {
    0% {right: -2000px;}
    100% {right: 0px;}
}